

#query{
   margin:10px 5px  10px  10px ;
   text-align: center;
  
 
  
}

#tabletype{

	margin-right:8px;
	
}

#date{

    text-align: center;
    width:100px;
    margin-right:8px;
}

#gundong{
 	
 	overflow-x:auto;
}

#stats{

 	margin-left:10px;
 	overflow-x:auto;

}